    #header {
			background: {color:headerBgColor};
		}
		.sb-slidebar{
			background: {color:sideMenuBgColor};
		}
		.childCategoryList01_child,
		.childCategoryList01_link,
		.headerNavColor,
		.appsItemCategoryTag_lowerLink,
		.categoryTitle01,
		.sectionTitle,
    .noItemsLabel,
    .breadcrumb__notlink,
    .innerCategory .breadcrumb li:after,
    #about .inner p,
    #mainFooter .footerMenu .copyright,
		.relatedItems ul li .itemTitle,
		.itemDetail .purchase .itemTitle,
		.itemDetail .purchase .itemDescription,
		.itemDetail .purchase #itemSelect .purchaseElement label,
    .itemDetail .socialWrapper p,
    .purchase #itemSelect .itemOption__name,
    .purchase #itemSelect .itemOption__caption,
    .purchase #itemSelect .itemOption__count,
		.review01__title,.review01__tabChild,.review01__list,
		#about .shopIntro, #about .aboutTxt,
		#notPublic p,
    .blogContainer .blogBody .text,
    #blog .main #about.blogDetail .blog_publish .publish_date,
    .blogContainer .blogPublish .publish_date,
    #blog .blogDetail .social .shareTitle,
    #blog .main #about .blog_inner .blog_publish .publish_date,
		#contact .inquirySection h1, #contact .inquirySection p,
		#contact .inquirySection form dl dt,
		#contact .inquirySection form dl dd,
		#appsItemDetailCustom #appsItemDetailCustomTag .appsItemDetailCustomTag_heading,
		#appsItemDetailCustom #appsItemDetailCustomTag .appsItemDetailCustomTag_description,
		.communityItemTitle, .communityMain,
    .membership .content,
    #membership .mypage,
    #membership .mypage .logout,
    #membership .mypage .leave-wrapper .leave,
    #membership .login .heading,
    #membership .login .register-description,
    #membership .draft .message,
    #membership .draft .leave-wrapper .leave,
    #membership .guide .register,
    #membership .guide .register .mail-magazine .mail-magazine-wrapper .label,
    #privacy, #law,
    #contact .explanation, .mail-magazine-title, .mail-magazine-text, .x_mailMagazineSubscribe_confirm {
			color: {color:keyColor};
		}
    #membership .mypage .content .bar {
      background-color: {color:keyColor} !important;
    }
    .blog_body font, .blog_body i, .blog_body span, .blog_body,
    #membership .login .register-link {
      color: {color:keyColor} !important;
    }
    #blog .main #about.blogDetail .blog_publish .line,
    #appsItemDetailCustom #appsItemDetailCustomTag .appsItemDetailCustomTag_heading .line, #blog .main #about.blogDetail h3 .line {
      background-color: {color:keyColor};
    }
    #blog .main #about.blogDetail .blog_inner {
      border-bottom: 1px solid {color:keyColor} !important;
    }
    #blog .main #about.blogDetail .social {
      border-top: 1px solid {color:keyColor} !important;
    }
		a,p > a{
			color: {color:keyColor} !important;
    }
    .sliderBnr .sliderTitle p {
      color: {color:sliderBnrTitleColor} !important;
    }
    .categoryBnr .categoryTitle p {
      color: {color:categoryBnrTitleColor} !important;
    }
    
		#info .col-right ul li .date,
		.itemDetail .purchase .itemPrice h3,
		.itemDetail .purchase #itemAttention,
		.itemDetail .purchase .report,
    .itemDetail .purchase .preOrder__data,
		#blog ul li .date a,
		.sideTitle,
    #postageOpen,
    #appsItemDetailCustom #appsItemDetailCustomTag .appsItemDetailCustomTag_slider,
    .conceptArea p,
    .communityItemPrice, .communityTextNotice, 
    #mainContent.itemDetail .purchase .itemPrice .tax, .takeout__text, .communitySignin, .communityModalTextNotice, .ageVerificationWarning {
      color: {color:subColor} !important;
    }
    .conceptArea .second_concept {
      border: solid 1px {color:subColor};
      outline: solid 1px {color:subColor};
    }
    .headerBottomBnr {
      background-color: {color:headerBottomBnrColor};
    }
    .headerBottomBnr .marquee p, .headerBottomBnrText p {
      color: {color:headerBottomBnrTextColor};
    }
    .menu-trigger span {
      border: 1px solid {color:headerMenuButtonColor};
    }
		.hovline a::after,
		#category-menu .category-list ul li:before,
		.itemDetail .purchase #purchase_form .purchaseButton__btn,
		#contact .inquirySection form input[type=submit] ,
		.bar,
		#contact #inquiryCompleteSection a,
		#salesPeriodModal .salesPeriodModal__btn--submit, .x_mailMagazineSubscribe_submit, .purchaseButtonModal__btn--submit,
    #membership .mypage .content .definition-description .edit,
    #membership .guide .mypage-link .link,
    #membership .login .link,
    #membership .guide .register .link {
      background-color: {color:btnBgColor}!important;
      border: 1px solid {color:btnBorderColor};
      color: {color:btnTextColor}!important;
    }
    #moreItems, #blog .moreItems, .categoryItemArea .moreItems {
      background-color: {color:moreBtnBgColor}!important;
      border: 1px solid {color:moreBtnBorderColor};
    }
    #moreItems a, #blog .moreItems a, .categoryItemArea .moreItems a {
      color: {color:moreBtnTextColor}!important;
    }
		.slides .slideTitle {
			color: {color:keyVisualTitleColor};
		}
		.slides .slideSubTitle {
			color: {color:keyVisualSubTitleColor};
    }
    .slides .slideButton {
      background-color: {color:keyVisualButtonColor} !important;
			color: {color:keyVisualButtonTitleColor} !important;
    }
		/*送料詳細設定のオーバレイ（SPのみ*/
		.centeringFixForPostageInfo {
			position: fixed !important;
    }

    .ageVerificationWarning {
      font-size: 23px !important;
    }
    @media only screen and (max-width:780px) {
      .ageVerificationWarning {
        font-size: 19px !important;
      }
    }

    .toppage-bg1 {
      background-image: url({image:sectionImg1});
    }
    .toppage-bg2 {
      background-image: url({image:sectionImg2});
    }
    @media only screen and (max-width:780px) {
      .toppage-bg1 {
        background-image: url({image:sectionImg1Sp});
      }
      .toppage-bg2 {
        background-image: url({image:sectionImg2Sp});
      }
    }

    {block:if-scrollFade}
      #mainContent.itemDetail .purchase #purchase_form {
        opacity: 0;
      }
    {/block:if-scrollFade}

    {block:not_if-scrollFade}
      .scrollFade {
        transition: "all 0ms ease 0s";
        opacity: 1;
        transform: translateY(0);
      }
    {/block:not_if-scrollFade}

    /* 商品カテゴリページと検索ページでは背景色が適用されるようにした */
    {block:NoIndexPageCategory}
    {block:NoIndexPageSearch}
      .product-wrapper {
        background-color: {color:sectionArea1BackgroundColor};
      }
    {/block:NoIndexPageSearch}
    {/block:NoIndexPageCategory}
    .category-item-wrapper {
      background-color: {color:sectionArea2BackgroundColor};
    }
    .galleryArea {
      background-color: {color:sectionArea3BackgroundColor};
    }
    /* トップページのBlogエリアカラー */
    {block:IndexPage}
      .blogArea {
        background-color: {color:sectionArea4BackgroundColor};
      }
    {/block:IndexPage}

    .itemPrice .sale,
    .itemPrice .discount,
    .soldout_cover,
    .waitingForSale,
    .endOfSale,
    .preOrderItem,
    #mainContent.itemDetail .purchase #itemSelect .itemOption__caption--error,
    #mainContent.itemDetail .purchase #itemSelect .itemOption__count--error,
    .itemDetail .salesPeriod--term,
    .itemDetail .salesPeriod--willStart,
    .itemDetail .salesPeriod--willEnd,
    .itemDetail .salesPeriod--finish,
    .itemDetail .salesPeriod--available,
    .itemDetail .preOrder,
    .itemDetail .lottery,
    .itemDetail .takeout,
    .itemDetail .preOrder__label,
    .itemDetail .lottery__label,
    .itemDetail .takeout__label,
    #contact .inquirySection form dd .error-message {
      color: {color:attentionColor};
    }
    #mainContent .item .discount {
      background-color: {color:attentionColor};
    }
    .preOrderItem,
    .itemDetail .lottery__label,
    .itemDetail .preOrder__label,
    .itemDetail .takeout__label {
      border: 1px solid {color:attentionColor};
    }
    #mainContent.itemDetail .purchase .preOrder__data {
      background-color: {color:preOrderItemBackgroundColor};
    }

    #blogContainerTopic .topicLabel {
      color: {color:topicBlogLabelColor};
      background-color: {color:topicBlogLabelBackgroundColor};
    }
    #blogContainerTopic .blogDetailBase {
      background-color: {color:topicBlogBackgroundColor};
    }
    #mainContent.itemDetail .purchase .itemTitle {
      border-bottom: 1px solid {color:keyColor} !important;
    }
    .social .socialWrapper {
      border-top: 1px solid {color:keyColor} !important; 
    }
    .concept-wrapper {
      background-color: {color:conceptBackgroundColor};
    }
    .header-nav .appsItemCategoryTag_child::after {
      background-color: {color:headerCategoryBorderColor};
    }

    #header .category-list #appsItemCategoryTag {
      background-color: {color:headerCategoryBackgroundColor};
    }

    .header-nav-link::after, #category-menu::after {
      background-color: {color:headerNavMenuBorderColor};
    }
    #mainFooter {
      background: {color:footerBgColor};
    }
    .section-title {
      color: {color:imageSectionTitleColor};
    }
    .section-title-wrapper-no-bg .section-title {
      textarea: center;
      color: {color:sectionTitleColor};
    }


    {block:if-keyVisualFixHegith}
      #keyVisualPc .slick-slide, #keyVisualSp .slick-slide {
        height: 100vh;
      }
      @media only screen and (min-width:980px) {
        #keyVisualPc .slick-slide, #keyVisualSp .slick-slide {
          height: 90vh;
        }
      }
      @media only screen and (max-width:780px) {
        #keyVisualPc .slick-slide, #keyVisualSp .slick-slide {
          height: 100%;
        }
      }
    {/block:if-keyVisualFixHegith}


    {block:AppsCommunity}
    @media only screen and (min-width: 981px) {
      #header {
        padding: 20px 10% !important;
      }
      #headerBase h1 {
        width: 20%;
      }
      .header-nav-list {
        width: 64%;
      }
    }
    {/block:AppsCommunity}

    /* category */
    {block:IndexPageCategory}
      #itemList {
        margin-top: 50px !important;
      }
    {/block:IndexPageCategory}

    {block:if-bottomFixBtnArea}
      .msg_startButton {
        right: 110px !important;
      }
      @media only screen and (max-width: 480px) {
        .msg_startButton {
          left: 10px !important;
          right: auto !important;
        }
      }
      @media only screen and (max-width: 320px) {
        .msg_startButton {
          left: 10px !important;
          right: auto !important;
          width: 200px !important;
        }
      }
    {/block:if-bottomFixBtnArea}
    .product-reviews {
      margin-top: 40px;
      padding: 20px;
      background: #fafafa;
      border-radius: 8px;
    }
    .product-reviews h2 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    .reviewTitle {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    .fav-btn {
      border:1px solid #ccc;
      background:#fff;
      padding:.4em .8em;
      border-radius:4px;
      cursor:pointer;
      font-size:14px;
    }
    .fav-btn.is-active .fav-icon {
      color:#e63946; /* 赤ハート色 */
      content:"★";
    }
    .favorite-area {
      text-align: right;   /* 中の要素を右寄せ */
      margin-top: 10px;    /* 少し余白をつけたい場合 */
    }
    .favorite-area .fav-btn {
      display: inline-block;
    }
    .cart-link{ position:relative !important; display:inline-block; }
    .cart-badge{
      position:absolute; top:-6px; right:-10px;
      min-width:18px; height:18px; line-height:18px;
      padding:0 6px; border-radius:999px;
      background:#e60023; color:#fff; font-size:11px; font-weight:bold;
      text-align:center; z-index:2147483647; pointer-events:none;
      box-shadow:0 0 0 2px #fff;
    }
  /* トップKVのボタンを消す */
  #keyVisualPc .slides .slideButton,
  #keyVisualSp .slides .slideButton{
    display: none !important;
  }
  /* タイトルのテキストがクリックを邪魔しないようにする */
  #keyVisualPc .slides .titleArea,
  #keyVisualSp .slides .titleArea{
    pointer-events: none;
  }
  /* 画像に手のカーソル */
  #keyVisualPc .slides img,
  #keyVisualSp .slides img{
    cursor: pointer;
  }


  /* カテゴリエリアを横いっぱいに（親の最大幅を無視するテク） */
  .categoryArea.innerContent{
    width:100vw;               /* 画面幅いっぱい */
    margin-left:50%;
    transform:translateX(-50%);
    padding-left:0; padding-right:0;
  }

  /* slick スタイル調整 */
  .categoryArea ul{ display:block; }               /* 既存のグリッド無効化 */
  .categoryArea .slick-slide{ outline:none; } 
  .categoryArea .slick-list{ overflow:visible; }   /* 左右の“はみ出し”を見せる */
  .categoryArea .slick-track{ display:flex; align-items:center; }

  .categoryArea .slick-slide img{
    width:100%; height:auto; display:block; border-radius:12px;
    box-shadow: 0 8px 26px rgba(0,0,0,.08);
  }

  /* ドット（下の小さい点） */
  .categoryArea .slick-dots{ margin:14px 0 0; }
  .categoryArea .slick-dots li button:before{ font-size:10px; }
  /* 矢印は使わないので何もしない（arrows:false にする） */

  /* 画面幅別の“見切れ量”は JS の centerPadding で調整する */

  .topicsArea {
    background: #f5f5f5;       /* ライトグレー */
    padding: 40px 0;
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .topicsArea .section-title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 24px;
    position: relative;
  }
  .topicsArea .section-title::after {
    content:"";
    display:block;
    width:60px;
    height:2px;
    background:#aaa;
    margin:10px auto 0;
  }
  .topicsSlider img {
    width:100%;
    height:auto;
    display:block;
    border-radius:6px;
  }
  .topicsSlider .slick-slide{ padding:0 8px; }
  .topicsSlider .slick-list{ overflow:visible; }

  .cart-link{ position:relative; display:inline-block; }
  .cart-badge{
    position:absolute; top:-6px; right:-10px;
    min-width:18px; height:18px; line-height:18px;
    padding:0 5px; border-radius:999px;
    background:#e60023; color:#fff; font-size:11px;
    text-align:center; font-weight:bold;
    box-shadow:0 0 0 2px #fff; /* 乗算時の縁取り */
  }
  .cart-badge[hidden]{ display:none; } /* 0個のときは非表示 */
